$color-white: #fff;
$color-light: #fff;
$color-muted: #9da5af;
$color-blue: #091e42;
$color-light-blue: #364e5d;
$color-lighter-blue: #ddd;
$color-dark: #3c3a39;
$color-darker: #1c1a19;
$color-alert: #800;
$color-faint: #dbd8d7;
$color-success: #023d02;
$color-secondary: #f55800;
$color-dark-orange: #c25105;
