$color-white: #fff;
$color-light: #fff;
$color-muted: #9da5af;
$color-blue-l1: #2c3f54;
$color-blue-l2: #192d44;
$color-blue-l3: #11283f;
$color-blue-l4: #051e34;
$color-alert: #800;
$color-faint: #dbd8d7;
$color-plain: #008ecc;
$color-carton: #ccc;
$color-success: #023d02;

$color-secondary: #f55800;
