$break-points: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@mixin media-break($break-point: md) {
  $width: map-get($break-points, $break-point);
  $break: if($width, $width, 768px);

  @media (min-width: $break) {
    @content;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 14px;
  line-height: 14px;
  color: #333;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px;
}

button,
input,
select,
textarea {
  outline: none;
}

fieldset {
  padding: 0 10px 10px 10px;
  margin: 0;
  border: 1px solid $color-faint;
  border-radius: 3px;

  legend {
    font-weight: bold;
  }
}

.clip {
  position: absolute;
  clip-path: circle(1px);
  color: transparent;
}

.cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.dim {
  background-color: rgba($color: #000, $alpha: 0.4);

  &.dark {
    background-color: rgba($color: #000, $alpha: 0.85);
  }
}

.screen {
  width: 100%;
  height: 100vh;
}

.screen-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.relative {
  position: relative;
}

.d-flex {
  display: flex;

  &.justify-content-center {
    justify-content: center;
  }

  &.justify-content-space-between {
    justify-content: space-between;
  }

  &.align-items-center {
    align-items: center;
  }

  &.align-items-start {
    align-items: flex-start;
  }

  &.align-items-end {
    align-items: flex-end;
  }

  &.nowrap {
    flex-wrap: nowrap;
  }

  &.flex-column {
    flex-direction: column;
  }
}

.flex-1 {
  flex: 1;
}

.center-child {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-middle {
  vertical-align: middle;
}

.popup {
  display: none;

  &.open {
    display: block;
  }
}

.card {
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  border: 1px solid #dadce0;
}

.mobile-input {
  outline: none;
  border: none;
  border-bottom: 1px solid $color-faint;
  padding: 5px 10px;
  display: block;
  width: 100%;
  background-color: transparent;
  transition: all 0.3s ease-in-out;

  &:active,
  &:focus {
    border-bottom-color: #034e03;
  }
}
