@import './colors';
@import './utility';
@import './hamburger';

body {
  &.details-mode {
    overflow: hidden;
  }
}

hr {
  &.dotted {
    border: none;
    border-top: 1px dotted $color-faint;

    &.blue {
      border-color: $color-blue;
    }
  }
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.bg-black {
  background-color: #000;
}

.p-10px {
  padding: 10px;
}

.mb-0 {
  margin-bottom: 0;
}

.mx-3px {
  margin-left: 3px;
  margin-right: 3px;
}

.mx-10px {
  margin-left: 10px;
  margin-right: 10px;
}

.mb-5px {
  margin-bottom: 5px;
}

.mb-10px {
  margin-bottom: 10px;
}

.mb-15px {
  margin-bottom: 15px;
}

.mt-5px {
  margin-top: 5px;
}

.mt-9px {
  margin-top: 9px;
}

.me-5px {
  margin-right: 5px;
}

.me-10px {
  margin-right: 10px;
}

.py-10px {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pb-2px {
  padding-bottom: 2px;
}

.text-center {
  text-align: center;
}

.text-light {
  color: $color-light;
}

.text-secondary {
  color: $color-secondary;
}

.text-blue {
  color: $color-blue;
}

.big-shoulder {
  font-family: 'Big Shoulders Stencil Display', cursive;
}

.z-normal {
  z-index: 2;
}

.hamburger-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 350px;
  z-index: 2000;

  .hamburger {
    position: absolute;
    left: 10px;
    top: 10px;
    transition: left 0.3s linear;

    &.open {
      left: 340px;
    }
  }
}

.content {
  position: relative;
  width: 100%;
  margin: auto;

  @include media-break(sm) {
    width: 540px;
  }

  @include media-break(md) {
    width: 720px;
  }

  @include media-break(lg) {
    width: 960px;
  }
}

.contained {
  max-width: 350px;
}

.btn {
  outline: none;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 0.8rem;
  line-height: 1;
  transition: all 0.3s ease-in-out;

  &:hover {
    opacity: 0.8;
  }

  &.btn-secondary {
    background-color: $color-secondary;
    color: $color-light;
    border: 1px solid $color-secondary;

    &:hover {
      opacity: 1;
      background-color: $color-light;
      color: $color-secondary;
    }
  }

  &.pointer {
    cursor: pointer;
  }
}

.stacks {
  display: flex;
  flex-flow: row wrap;

  & > span {
    padding: 3px 7px;
    margin: 2px;
    color: #fff;
    background-color: gray;
    line-height: 1;

    @include media-break(sm) {
      padding: 5px 12px;
    }
  }
}

.home {
  position: relative;
  background-size: 100% 100%;
  background-image: url(../images/computer-1.jpg);
}

.page-header {
  position: relative;
  height: 80px;

  .hamburger {
    position: absolute;
    right: 30px;
    top: 30px;

    @include media-break(md) {
      display: none;
    }
  }

  .page-header-slide {
    position: fixed;
    top: 0;
    padding: 30px 50px;
    transition: top 0.3s linear;
    width: 100%;
    color: $color-light;
    z-index: 2000;

    .page-heading {
      font-weight: 900;
      font-size: 28px;
    }

    .page-header-inner {
      z-index: 2000;
    }

    .page-header-slide-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      background-color: $color-light;
      border-bottom: 1px solid $color-faint;
      transition: height 0.3s linear;
      z-index: -1;
    }

    .main-nav {
      position: absolute;
      background-color: transparent;
      right: 0;
      top: 80px;
      width: 300px;
      height: calc(100vh - 80px);
      overflow-x: hidden;
      pointer-events: none;

      .menu {
        position: absolute;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        top: 0;
        right: -100%;
        background-color: #3c3a39;
        transition: right 0.3s linear;
        pointer-events: all;

        &.open {
          right: 0;
        }

        .menu-item {
          padding: 30px 20px;

          .link {
            font-weight: 500;
            font-size: 18px;
            display: block;
            letter-spacing: 0.3px;
            transition: all 0.3s ease-in-out;

            &:hover {
              font-weight: 900;
              color: $color-secondary;
            }
          }
        }
      }

      @include media-break(md) {
        position: unset;
        top: unset;
        width: unset;
        height: unset;
        overflow-x: unset;

        .menu {
          position: unset;
          display: flex;
          right: unset;
          background-color: unset;

          &.open {
            right: unset;
          }

          .menu-item {
            padding: 0 15px;

            .link {
              width: 70px;
            }
          }
        }
      }
    }

    &.bg-open {
      color: #333;

      .main-nav {
        .menu {
          .menu-item {
            .link {
              color: #fff;
            }
          }
        }
      }

      .hamburger:not(.open) {
        span,
        &::before,
        &::after {
          background-color: #333;
        }
      }

      .page-header-slide-bg {
        height: 80px;
      }

      .page-heading {
        color: $color-secondary;
      }

      @include media-break(md) {
        .link {
          color: #333;
        }
      }
    }
  }
}

.headline {
  padding: 100px 0 60px 0;

  .headline-dim {
    border-radius: 8px;
  }

  .headline-padding {
    @include media-break(sm) {
      display: flex;
      justify-content: flex-end;
    }
  }

  .headline-body {
    width: 100%;
    max-width: 350px;
    margin: auto;
    padding: 25px;

    @include media-break(sm) {
      margin: 0;
    }
  }

  .headline-content {
    flex-direction: column;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.8;
    z-index: 2;

    @include media-break(sm) {
      flex-direction: row;
    }
  }

  .headline-heading {
    margin-bottom: 15px;
    font-size: 32px;
    line-height: 1.1;
  }

  .headline-rider {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .headline-media {
    margin-top: 20px;

    .contact-link {
      margin-left: 15px;
      transition: all 0.3s ease-in-out;

      &:first-child {
        margin-left: 0;
      }

      &:hover {
        color: $color-secondary;
      }
    }

    @include media-break(sm) {
      flex-direction: column;
      margin-top: 0;
      margin-left: 15px;

      .contact-link {
        margin-left: 0;
        margin-top: 15px;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}

.section-wrap {
  &.about-section-wrap {
    background-color: #364e5d;
    color: $color-light;
  }

  &.projects-section-wrap {
    background-image: url(../images/tile.jpg);
    background-repeat: repeat;
  }

  &.contact-section-wrap {
    background-color: #e6ebec;

    .mobile-input {
      border-bottom-color: #97a0a2;

      &:active,
      &:focus {
        border-bottom-color: #034e03;
      }
    }
  }
}

.portfolio {
  padding: 40px;
  line-height: 1.1;

  .portfolio-header {
    margin-bottom: 30px;
    display: flex;
    align-items: center;

    .hr {
      border-bottom: 2px solid gray;
      margin-left: 15px;
    }
  }

  .projects-wrap {
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-columns: auto;
    gap: 15px;

    .project-corner {
      border-radius: 6px;
    }

    .project-link {
      transition: all 0.3s linear;

      &:hover {
        box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
        transform: scale(1.01);
      }
    }

    .project-card {
      position: relative;
      width: 100%;
      height: 320px;
      color: #fff;
      padding: 12px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      background-size: cover;

      .project-description {
        line-height: 22px;
      }
    }

    @include media-break(sm) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-break(lg) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.about {
  padding: 40px;

  .about-text {
    margin: 25px 0;
    line-height: 24px;
  }

  .stacks-and-skills {
    margin-top: 50px;
    padding-top: 50px;
    border-top: 1px solid $color-muted;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;

    .group {
      margin-bottom: 20px;
      display: flex;
      justify-content: center;

      .group-header {
        position: relative;
        display: inline-block;
        padding-left: 24px;
        margin: auto;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: calc(50% - 6px);
          width: 12px;
          height: 12px;
          background-color: $color-secondary;
        }

        &.language {
          &::before {
            transform: rotate(40deg);
          }
        }

        &.skills {
          &::before {
            border-radius: 50%;
          }
        }

        @include media-break(sm) {
          margin: 0;
        }
      }

      .item {
        font-size: 22px;
        line-height: 43px;
        display: block;
      }
    }

    @include media-break(sm) {
      grid-template-columns: repeat(3, 1fr);
      text-align: left;
    }
  }
}

.contact {
  padding: 40px;

  .contact-wrap {
    display: flex;
    flex-flow: column nowrap;

    @include media-break(md) {
      flex-direction: row;
    }
  }

  .contact-text {
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 32px;

    @include media-break(md) {
      margin-bottom: 0;
      margin-right: 20px;
    }
  }

  .message {
    outline: none;
    border: none;
    padding: 15px;
    resize: vertical;
    display: block;
    width: 100%;
    min-height: 180px;
    margin: 20px 0;
    background-color: #fbf8f7;
  }
}

.page-footer {
  border-top: 1px solid #dfe1e6;
  color: gray;

  .footer-content {
    display: flex;
    justify-content: center;
    padding: 15px;
  }

  a {
    margin-left: 30px;
    font-size: 1.4rem;
    color: gray;

    &:hover {
      color: $color-secondary;
    }

    &:first-child {
      margin-left: 0;
    }
  }
}

.project-details-page {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3000;
  transform: scale(0);
  transition: transform 0.3s linear;

  &.open {
    transform: scale(1);
  }

  &.initial {
    display: none;
  }

  .body {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border: 1px solid $color-secondary;

    .details-close-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      outline: none;
      border: none;
      padding: 0;
      margin: 0;
      width: 14px;
      height: 14px;
      background-color: transparent;
      cursor: pointer;

      &::before,
      &::after {
        content: '';
        background-color: $color-faint;
        width: 100%;
        height: 2px;
        border-radius: 2px;
        position: absolute;
        left: 0;
        top: 50%;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }

      &:hover {
        &::before,
        &::after {
          background-color: $color-secondary;
        }
      }
    }

    .stacks {
      margin-bottom: 20px;

      .stack {
        color: #333;
        font-size: 0.8rem;
        background-color: #fff;
        border: 1px solid $color-muted;
      }
    }

    .poster-desc-wrap {
      max-width: 740px;

      @include media-break(md) {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
      }

      .right {
        flex: 1;
        width: 100%;
        height: 100%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include media-break(md) {
          grid-column: 4 / 6;
          max-width: 340px;
          padding-left: 15px;
          margin-top: 0;
        }
      }
    }

    .details-poster {
      max-width: 400px;
      min-width: 300px;
      width: 100%;

      @include media-break(md) {
        grid-column: 1 / 4;
      }
    }

    .details-links {
      .btn {
        margin-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
